[INPUT_CONTROL]
# Number of input time series to be plotted on the same plot
# The following sections will be called 'INPUT_1', 'INPUT_2', ..., 'INPUT_<n_ts>'
n_ts: 2

[INPUT_1]
# INPUT_1 - USGS obs
ts_format: USGS
ts_path: /raid2/ymao/VIC_RBM_east_RIPS/data/USGS/streamT/<USGS_CODE>.txt
usgs_col: <USGS_COL>
# Plotting style (e.g., '-')
plot_style: -
plot_color: k
plot_lw: 1
# Plotting legend label
plot_label: USGS obs. (regulated)

[INPUT_2]
# INPUT_2 - Simulated naturalized streamT
# Format of routed flow
# Choose from: 
#   RBM_formatted - formatted RBM output; # year; month; day; flow(cfs); 
#                                           T_stream(deg); 1 header line
#   Lomann - fortran Lohmann routing output
#   USGS - USGS data
#   TVA - TVA data path
ts_format: RBM_formatted
# Data file (for a location)
ts_path: /raid2/ymao/VIC_RBM_east_RIPS/RIPS/model_run/output/RBM/Maurer_8th/Tennessee/hist_1949_2010.from_RVIC.calibrated_1961_1970/Mohs_v1.Leop_v1/Tennessee/<LAT>_<LON>/<RBM_FILENAME>
# Plotting style (e.g., '-')
plot_style: --
plot_color: r
plot_lw: 1.5
# Plotting legend label
plot_label: Simulated (unregulated)

[PLOT_OPTIONS]
# Base title of the plot (other lables (e.g., statistics) will be added to each plot)
plot_title: <TITLE>
# Whether define plot date range
# True for user-defined, false for automatically defined
plot_date_range: False
# If plot_date_range==True, plot start date and end date; otherwise, these two parameters not used
#plot_start_date: 1960,10,1
#plot_end_date: 2010,9,30
# Model info to be added on plot
model_info: VIC - calibrated WY1961-1970;\\n          RMB - Mohseni v1\, Leopold v1

[OUTPUT]
# Output plot path basename 
# Should contain basin information (suffix will be added to different plots)
output_plot_basename: /raid2/ymao/VIC_RBM_east_RIPS/RIPS/model_run/result_analysis/output/Tennessee.usgs<USGS_CODE>

