[submodule "model_run/source/RVIC"]
	path = model_run/source/RVIC
	url = https://github.com/UW-Hydro/RVIC.git
[submodule "model_run/process/tonic"]
	path = model_run/process/tonic
	url = https://github.com/yixinmao/tonic.git
