# INPUT FILE FOR PROGRAM CREATING FLOW AND ENERGY BUDGET FILES-RBM10
# NAME OF FLOW DIRECTION FILE
/raid2/ymao/VIC_RBM_east/VIC_RBM/model_run/param/route_modified/Maurer_8th/Tennessee/Tennessee.fdir
# Name of velocity file
.false.
1.5
# Name of diffusion coefficientfile
.false.
800
# Name of xmask file
.false.
12500
# Name of fraction file
.false.
1.0
# Name of station file
/raid2/ymao/VIC_RBM_east/VIC_RBM/model_run/param/Lohmann_route/Maurer_8th/Tennessee/Tennessee.Rout.Cells
# Path of input files and precision
/raid2/ymao/VIC_RBM_east/VIC_RBM/model_run/forcing/Lohmann_route/reclamation_CMIP5/ccsm4_rcp45_r1i1p1/asc/Tennessee/flow_
4
# Directory of output files
/raid2/ymao/VIC_RBM_east/VIC_RBM/model_run/output/Lohmann_route/reclamation_CMIP5/Tennessee_1950_2099/ccsm4_rcp45_r1i1p1/
# Year and month of model output to route & routed output to write
1950 01 2099 12
1950 01 2099 12
# This file contains the grid cell impulse response function
/raid2/ymao/VIC_RBM_east/VIC_RBM/model_run/param/route_modified/UH_ALL
